<h1>New Shortener</h1>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
      <div class="input-group custom-search-form">
        <%= form_for(@shortener) do |f| %>
				  <% if @shortener.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@shortener.errors.count, "error") %> prohibited this shortener from being saved:</h2>

				      <ul>
				      <% @shortener.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

			    <%= f.text_field :long_url, id: "search", placeholder: "Please input your url" %>
			    <%= f.submit "GO", id: "submit"%>
				  
				<% end %>	
      </div><!-- /input-group -->

	    </div>
	</div>
</div>
<%= link_to 'Back', shorteners_path %>
